h1 {
  background-color: red;
  color: green;
  font-size: 16fx;
}

input[type="submit"] {
  background-color: red;
}

input[type="password"] {
  border: 1px solid yellow;
}

body {
  height: 100%;
  background-color: white;
}
.container > .box {
  background-color: yellow;
}
.child {
  background-color: purple;
  width: 40px;
}
.box {
  background-color: green;
  width: 200px;
  height: 200px;
  animation: 1.5s scaleAndRotateSquare infinite ease-in-out;
}

@keyframes scaleAndRotateSquare {
  from {
    transform: none;
  }
  50% {
    transform: rotate(1turn) scale(0.5, 0.5);
  }
  100% {
    transform: none;
  }
}
@media screen and (min-width: 320px) and (max-sidth: 640px) {
  body {
    background-color: blue;
  }
}
